@import './reset';

html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

// 新建、编辑模态框：提交按钮样式右对齐
.formItemButton {
  text-align: right;
  padding-right: 12px !important;
}

// 修改树选择：选中样式、option间距
.ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: transparent !important;
}
.ant-select-tree-treenode-selected {
  background-color: #bae7ff;
}
.ant-tree-select-dropdown .ant-select-tree-list-holder-inner .ant-select-tree-treenode {
  padding-bottom: 0px;
  padding: 4px 0px;
}

.ant-pro-table {
  background: #f0f2f5;
}
